.barra {
	width: 200px;
	height: 20px;
    border: 1px solid black;
}

.progresso {
	background-color: green;
    height: 100%;
}

#game {
    display: table;
}
.botao {
    width: 200px;
    height: 40px;
    background-color: rgb(41, 41, 97);
    border-radius: 10px;
}
.botao_ataque {
    width: 75px;
    height: 40px;
    background-color: red;
    border-radius: 10px;
}
.botao_especial {
    width: 150px;
    height: 40px;
    background-color: rgb(97, 97, 8);
    border-radius: 10px;
}

.botao_curar {
    width: 75px;
    height: 40px;
    background-color: green;
    border-radius: 10px;
}

.botao_desistir {
    width: 75px;
    height: 40px;
    border-radius: 10px;
}

html{
    font-family: 'Montserrat', sans-serif;
}

#matador {
    display: flex;
    flex-direction: column;
}

.panel {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}